/** 
  * Button.css
  * 
  * Shared button styles for the application.
  * 
  * This file defines base styles for buttons and specific variants like
  * primary, secondary, and ghost buttons. It also includes responsive
  * design considerations and hover/focus states.
  * 
  * Button typesï¼š
  * 1. Primary Button -- home page: quiz/shop/customise
  * 2. Secondary Button -- settings page
  * 3. Ghost Button -- login/signup in auth page
  * 
  * Usage:
  * - Apply the `btn` class to any button element to get base styles.
  * - Add `primary`, `secondary`, or `ghost` classes for specific styles.
  * 
  * Example:
  * <button className="btn primary">Primary Button</button>
  * <button className="btn secondary">Secondary Button</button>
  * <button className="btn ghost">Ghost Button</button>
  *
  */


/* Default styles for all buttons */
button, .btn {
  font-family: "SuperShiny", sans-serif;
	cursor: pointer;
  color: inherit;
  /* font-size: clamp(14px, 4vw, 16px); */
  /* font-weight: 600; */
  align-items: center;
  justify-content: center;
  text-align: center;

	border-radius: 10px;
	border: 2.5px solid transparent;
	transition: border-color 0.25s;
}
button:hover {
  border-width: 2.5px;
  border-style: solid;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  button, .btn {
    background-color: #f9f9f9;
  }
}

.btn.primary {
	/* Primary Button */
	display: flex;
	min-width: 200px;
	/* width: clamp(200px, 10vw, 250px); */
	/* height: clamp(55px, 7vh, 92px); */
	height: auto;
	border-radius: 10px;
	gap: 0.2rem;

	overflow: hidden;
}


.btn.secondary {
	/* Secondary Button */
	font-family: sans-serif;
  height: 42px;
  padding: 0 16px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.18);
  background: rgba(255,255,255,0.08);
  color: #fff;
  font-size: clamp(14px, 4vw, 16px);
  font-weight: 600;
	/* grid-column: 1 / -1; */
	width: 100%;
	background: linear-gradient(90deg, #49b, #5cd);
  border: none;
}
.btn.secondary:disabled { opacity: .7; cursor: not-allowed; }

/* Ghost Button */
.btn.ghost {
  background: transparent;
  /* border: 1px solid rgba(255,255,255,0.25); */
  
  font-family: sans-serif;
  font-weight: 700;
  text-decoration: underline; 
  text-underline-offset: 2px; 
  text-decoration-thickness: 1.5px;
}

.btn.ghost:hover{
  color: rgba(255, 0, 0, 0.926);
}

.buttoncaption {
  flex: 1;
  font-family: "SuperShiny", sans-serif;
  font-size: clamp(30px, 5vw, 50px);
  align-content: center;
}


