.pagelinkicon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform .15s ease;
}

.icon {
  width: clamp(40px, 14vw, 72px);
  height: auto;
  cursor: pointer;
  transition: transform .15s ease;
}

.iconcaption {
  font-size:clamp(12px, 3vw, 20px);
  font-family: "SuperShiny", sans-serif;
  line-height: 1.5;
  font-weight: bold;
  margin: -1px;
  opacity: .85;
  transition: opacity .15s ease;
}

.pagelinkicon:hover .icon{
  transform: scale(1.12);
}
.pagelinkicon:hover .iconcaption {
  opacity: 0;
}

/* Laptop View */
@media (min-width: 768px) {

  .icon {
    width: 70px;
    height: 70px;
  }

}

