/* .page {
  display: flex;
  flex-direction: column;
  height: 100dvh;     
} */

.title1 {
  text-align: center;
  font-size: 5em;
  color: #c0e5d6;
  margin: -10px 0 0 0;
}

.title2 {
  text-align: center;
  font-size: 4.25em;
  margin: -90px 0 0 0;
}

.pic {
  max-width: min(95vw, 480px);
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: -50px 0 0 0
}

.line {
  font-family: "SuperShiny", sans-serif; 
  margin: 0 0 0 0;
  font-size: 0.75em;
}

.scorePad {
  flex: 1 1 auto;
  display:  flex;
  flex-direction: column;
  gap : 2px;
  margin: 8px 0 0 8px
}

.scorePad img {
  margin: 0;            
  padding: 0;
  display: block;       
  width: 25px;        
  height: 25px;
}

.downpad {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 20px; */
  align-items: center;
  width: 100%;
  /* padding: 1rem; */
  /* margin: 0; */
}

.downpad button {
  flex: 0 0 auto;
  margin: 0 0.5rem;   
  font-size: 1.75em;     
}

button {
  display: flex;
  width: clamp(180px, 30vw, 250px);
  height: clamp(60px, 6vh, 92px);
  border-radius: 10px;
  border: 3px solid transparent;
  gap: 0.2rem;
  width: auto;
  padding: 0rem 1rem;
}


/* Laptop View */
@media (min-width: 768px) {
  .pic {
    max-width: 600px; 
  }

  .downpad {
    flex-direction: row;
    /* gap: 30px; */
  }

  .downpad button {
    flex: 0 0 auto;
    margin: 0 0.5rem;   
    font-size: 2.8em;     
  }

  button {
    width: clamp(180px, 30vw, 250px);
    height: clamp(50px, 9.5vh, 92px);
    border-radius: 10px;
    border: 3px solid transparent;
    gap: 0.2rem;
    width: auto;
    padding: 0rem 1rem;
  }

  .scorePad {
    gap : 0px;
    margin: 10px 0 0 0  
  }

  .scorePad img {     
    width: 40px;        
    height: 40px;
  }

  .title1 {
    font-size: 12.5em;
    margin: -20px;
  }

  .title2 {
    font-size: 10em;
    margin: -180px 0 0 0;
  }

  .pic {
    margin: -75px 0 0 0
  }

  .line {
    margin: 0 0 0 0;
    font-size: 1.5em;
  }
}
