/**
 * Home.module.css
 * Styles for the Home component
 */

.titleWrap {
  margin-top: 10px;
  position: relative;
  display: inline-block;   /* 包裹内容大小 */
}

.title1 {
  text-align: center;
  font-size: clamp(85px, calc(45px + 4.25vh + 1.75vw), 190px);
  color: #afe7d1;
  margin-top: 5vh;
  position: relative;
  z-index: 1;
}

.title2 {
  text-align: center;
  white-space: nowrap; 
  font-size: 5em;
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 2;  
}

.pic {
  max-width: min(95vw, 480px);
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.line {
  font-family: "SuperShiny", sans-serif; 
  font-size: 0.75em;
  margin-top: auto;
}


.downpad {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}



/* Laptop View */
@media (min-width: 768px) {

  .downpad {
    flex-direction: row;
    gap: 30px;
  }

  .title1 {
    font-size: 12.4em;
    margin: -20px;
  }

  .title2 {
    font-size: 10.5em;
    transform: translate(-50%, -70%);
  }

  .line {
    margin: 0 0 0 0;
    font-size: 1.5em;
  }
}
