/* .page {
  display: flex;
  flex-direction: column;
  height: 100dvh;     
} */

.title-wrap {
  position: relative;
  display: inline-block;   /* 包裹内容大小 */
}

.title1 {
  text-align: center;
  font-size: clamp(85px, calc(45px + 4.25vh + 1.75vw), 190px);
  color: #afe7d1;
  margin-top: 5vh;
  position: relative;
  z-index: 1;
}

.title2 {
  text-align: center;
  white-space: nowrap; 
  font-size: 5em;
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 2;  /* 控制前后关系 */
}

.pic {
  max-width: min(95vw, 480px);
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  /* margin: -30px 0 0 0 */
}

.line {
  font-family: "SuperShiny", sans-serif; 
  /* margin: 0 0 0 0; */
  font-size: 0.75em;
  margin-top: auto;
}

.scorePad {
  flex: 1 1 auto;
  display:  flex;
  flex-direction: column;
  justify-content: center;
  /* gap : 2px;
  margin: 8px 0 0 8px */
  gap : 5px;
  margin: 0 0 0 6.5px 
}

.scorePad img {
  margin: 0;            
  padding: 0;
  display: block;       
  /* width: 32px;        
  height: 32px; */
  width: clamp(25px, 7vw, 32px);        
  height: auto;
}

.downpad {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 20px; */
  align-items: center;
  width: 100%;
  /* padding: 1rem; */
  /* margin: 0; */
}

.downpad button {
  flex: 0 0 auto;
  margin: 0 0.5rem;   
  font-size: 1.5em;
}

button {
  display: flex;
  min-width: 200px;
  width: clamp(200px, 10vw, 250px);
  height: clamp(55px, 7vh, 92px);
  border-radius: 10px;
  border: 3px solid transparent;
  gap: 0.2rem;
  /* width: auto; */
  /* padding: 0rem 1rem; */
}


/* Laptop View */
@media (min-width: 768px) {

  .downpad {
    flex-direction: row;
    /* gap: 30px; */
  }

  .downpad button {
    flex: 0 0 auto;
    margin: 0 0.5rem;   
    font-size: 2.8em;     
  }

  button {
    width: clamp(180px, 30vw, 250px);
    height: clamp(50px, 9.5vh, 92px);
    border-radius: 10px;
    border: 3px solid transparent;
    gap: 0.2rem;
    width: auto;
    padding: 0rem 1rem;
  }

  .scorePad {
    gap : 5px;
    margin: 0 0 0 20px  
  }

  .scorePad img {     
    width: 40px;        
    height: 40px;
  }

  .title1 {
    font-size: 12.4em;
    margin: -20px;
  }

  .title2 {
    font-size: 10.5em;
    transform: translate(-50%, -70%);
  }

  .line {
    margin: 0 0 0 0;
    font-size: 1.5em;
  }
}
