/**
  * Rank.module.css
  * Styles for the Scan page
  * Adjustable for the ipad and laptop views
  */

h1.title {
  font-size: 4.5em;
  text-align: center;
  /*color: #c0e5d6;*/
}

@media (max-width: 600px) {
  h1.title {
    font-size: 2em;
  }
}

.rankList {
  list-style: none;
  padding-left: 0;
  margin: 0.5rem 0 0;
  font-family: "SuperShiny", sans-serif;
  /* mobile view */
  font-size: clamp(18px, 5vw, 24px);
  line-height: 1.2;
}

.rankItem {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 10px 0;
}

.rankAvatar {
  width: 32px;
  height: 32px;
  object-fit: contain;
} 

/* ipad/laptop view */
@media (min-width: 768px) {
  .rankList { font-size: clamp(24px, 3vw, 50px); }
  .rankAvatar { width: 56px; height: 56px; }
}

/* move font downward (away from top by 12px) */
.page {
  padding-top: 12px; 
}

/* @media (min-width: 768px) { 
  .page {
    padding-top: 30px; 
  }
} */