/**
 * This file defines the global resets and true global rules
 * for the whole system.
 * 
 */
html, body, #root { height: 100%; }

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(210, 210, 210, 0.932);
  background-color: #32292F;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: inherit
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "SuperShiny", sans-serif;
  font-size: clamp(3em, 11vw, 4.5em);
  line-height: 1.5;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

.page {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  flex: 1 1 auto;
  min-height: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  flex-direction: column;
  place-items:center;
  margin: 0 12px 0 12px
}

.footer {
  flex: 0 0 auto;
  text-align: center;
  padding: 1px;
  color: #575757;
}

.footer p {
  margin: 0;
  padding: 0;
  font-size: x-small;
}

.title {
  text-align: center;
}

h1, .title {
  margin: 0;
  margin-top: 12px;
}


.leftside {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 8px;
  left: 4px;
}

.rightside {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 8px;
  right: 4px;
  gap: 15px;
}


.scorePad {
  flex: 1 1 auto;
  display:  flex;
  flex-direction: column;
  justify-content: center;
  gap : 5px;
  margin: 0 0 0 6.5px 
}

.score{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px
}

.scorePad img {
  margin: 0;            
  padding: 0;
  display: block;       
  width: clamp(25px, 7vw, 32px);        
  height: auto;
}

.scorePad p {
  font-size:clamp(12px, 3vw, 20px);
  font-family: "SuperShiny", sans-serif;
  line-height: 1.5;
  font-weight: bold;
  margin: -1px;
  opacity: .85;
  transition: opacity .15s ease;
}



/* Laptop View */
@media (min-width: 768px) {

  .scorePad {
    gap : 5px;
    margin: 0 0 0 20px  
  }

  .scorePad img {     
    width: 40px;        
    height: 40px;
  }
  
}


/* Dark mode by default, light mode if user prefers */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #faf8db;
  }

  .footer {
    color: #555;
  }
  /* a:hover {
    color: #747bff;
  } */

}

@font-face {
  font-family: "SuperShiny";
  src: url("/fonts/SuperShiny-0v0rG.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

